

.nav-bar {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto;
  justify-content: right;
}

.nav-button {
  font-family: monospace;
  font-size: 1.3em;
  color: #c96842;
  padding: 10px;
  text-decoration: none !important;
  cursor: pointer;
}

.nav-button:hover {
  color: #788b55;
  text-decoration: none;
}


.container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
      }
      img {
        width: 26vw;
        min-height: 300px;
        min-width: 300px;
      }

@media only screen and (max-width:840px) {
  img {
         display: none;
  }
}
      .image {
        flex-basis: 20%;
        position: relative;
        top: 6em;
      }
      .title {
     font-family: monospace;
     padding: 40px;
     margin: 5px 10px;
      }

/* Typewriter Text */
.title .typewriter {
  color: #000;
  font-family: monospace;
  font-size: 2rem;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  border-right: 0.1em solid #1d6f41;
  animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite;
}

@media only screen and (max-width:546px) {
  .title .typewriter {
         font-size: 1.2rem;
  }
}

/* Typing Text Effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Typewriter Cursor */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #788b55;
  }
}

/* Shift Up 1 Text */
.title .ShiftUp {
  font-family: monospace;
  color: #000;
  position: absolute;
  white-space: unset;
  font-size: 1.8rem;
  animation: 3s anim-ShiftUp;
}
@keyframes anim-ShiftUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 405px) {
  .title .ShiftUp {
         font-size: 1.3rem;
  }
}

/* Shift Up 2 Text */
.title .ShiftUp2 {
  font-family: monospace;
  color: #000;
  position: absolute;
  white-space: unset;
  margin-top: 3em;
  font-size: 1.8rem;
  animation: 4s anim-ShiftUp2;
}
@keyframes anim-ShiftUp2 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 405px) {
  .title .ShiftUp2 {
         font-size: 1.3rem;
  }
}

/* Fade Text */
.title .fade-in-text1 {
  font-family: monospace;
  color: #000;
  position: absolute;
  white-space: unset;
  font-size: 1.9rem;
  margin-top: 6.2em;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 405px) {
  .title .fade-in-text1 {
         font-size: 1.3rem;
         margin-top: 8.5rem;
  }
}

.title .fade-in-text2 {
  font-family: monospace;
  color: #544131;
  position: absolute;
  white-space: unset;
  font-size: 2rem;
  margin-top: 10em;
  animation: fadeIn 3.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 405px) {
  .title .fade-in-text2 {
         font-size: 1.3rem;
  }
}

/* List Styling */
ul {
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
}

/* Link Styling */

.title a.see-more-link {
  color: #c96842;
  font-weight: bold;
  transition: 0.2s ease-in;
  text-decoration: none;
  display: flex;
  margin-bottom: 200px;
  align-items: center;
}

.title a.see-more-link:hover {
  transform: translateX(5%);
  color: #788b55;
}

@media only screen and (max-width: 405px) {
  .title a.see-more-link {
         font-size: 1.3rem;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 200, "opsz" 48;
  margin-left: 10px;
}
